<div class="main">
    <div class="content-box">
        <div class="infoBox">
            <div class="aboutMe">
                <h2 class="title">Sobre Mí</h2>
            </div>
            <div class="aboutMe-Text">
                <p class="text">Apasionado en la tecnología de la información en busca de experiencias profesionales orientadas al desarrollo de software principalmente en la rama web y diseño.</p>
            </div>
        </div>
        <div class="imgReference">
            <img src="../assets/ImageReference.png" alt="">
        </div>
    </div>
    <div class="bottom-box"></div>
</div>
