.main{
    background-color: #252525;
    margin: 80px 0;
    padding: 40px;
}

.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    margin-top: 50px;
    background-color: #ffcc01;
    width: 300px;
    height: 50px;
}

.title{
    text-align: center;
    font-size: 28px;
}

.boxProject{
    display: grid;
    grid-template-columns: 2% 1fr 1fr 2%;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.infoProject{
    font-size: 16px;
    height: 360px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.imageProject{
    display: flex;
    align-items: center;
    height: 400px;
}
.imageProject img{
    width: 100%;
    object-fit: contain;
}

.boxtitle{
    margin: 25px auto;
    font-size: 20px;
    text-align: center;
    background-color: #ffcc01;
    height: 50px;
    width: 85%;
}

.boxtitle h3{
    position: relative;
    top: 20%; 
}

.text{
    margin: 0 auto;
    width: 450px;
}

.textYellow{
    color:#ffcc01;
}

.flechaIzq,.flechaDer{
    height: 30px;
}

.flechaIzq:hover , .flechaDer:hover{
    cursor: pointer;
}

.flechaIzq img, .flechaDer img{
    width: 30px;
}


@media (max-width: 640px){
    .main{
        position: relative;
        top: 50px;
    }
    .aboutMe{
        width: 200px;
        height: 40px;
     }

    .title{
        font-size: 23px;
    }
    .flechaDer{
        position: relative;
        left: 50%;
    }
    .flechaIzq{
        display: none;
    }

    .boxProject{
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .imageProject{
        display: none;
    }

    .infoProject{
        width: 380px;
    }

    .text{
        width: 330px;
    }

    .infoProject{
        font-size: 14px;
    }

    .boxtitle{
        font-size: 16px;
    }
}