<header class="main">
    <div class="headerBox">
        <div class="profileImage" data-aos="fade-right" data-aos-offset="600">
            <img src="../assets/FotoPerfil.jpg" alt="">
        </div>
        <div class="headerContent">
            <nav class="menu">
                <ul>
                    <li> <a href="http://localhost:4200/header">Sobre Mí</a></li>
                    <li>Proyectos</li>
                    <li>Contáctame</li>
                </ul>
            </nav>
            <div class="info" data-aos="fade-right" data-aos-offset="600" data-aos-easing="ease-in-sine">
                <h3 class="job" >Desarrollador Frontend</h3>
                <h1 class="name" >Juan Esteban Carrillo Garcia</h1>

            </div>
            
        </div>
    </div>
</header>

