<header class="main">
    <div class="headerBox">
        <div class="profileImage" data-aos="fade-right" data-aos-offset="600">
            <img src="assets/FotoPerfil.jpg" alt="">
        </div>
        <div class="headerContent">
            <nav class="menu">
                <ul>
                    <li> <a href="http://localhost:4200/header">Sobre Mí</a></li>
                    <li type="button" (click)="showProjects()">Proyectos</li>
                    <li>Contáctame</li>
                </ul>
            </nav>
            <div class="info" data-aos="fade-right"  >
                <h3 class="job" >Desarrollador Full Stack</h3>
                <h1 class="name" >Juan Esteban Carrillo Garcia</h1>
                <p class="textRepo">Git Hub: <a href="https://github.com/JuanCarrill0" target="_blank"> Click Aquí</a></p>

            </div>
            
        </div>
    </div>
</header>
<proyectos *ngIf="visibleProjects"></proyectos>
<sobre-mi *ngIf="visibleMain"></sobre-mi>
<educacion *ngIf="visibleMain"></educacion>
<tecnologias *ngIf="visibleMain"></tecnologias>
<habilidades *ngIf="visibleMain"></habilidades>

