<header class="main">
    <div class="headerBox">
        <div class="profileImage">
            <img src="../assets/FotoPerfil.jpg" alt="">
        </div>
        <div class="headerContent">
            <nav class="menu">
                <ul>
                    <li>Sobre Mí</li>
                    <li>Proyectos</li>
                    <li>Contáctame</li>
                </ul>
            </nav>
            <h3 class="job">Desarrollador Frontend</h3>
            <h1 class="name">Juan Esteban Carrillo Garcia</h1>
        </div>
    </div>
    <sobre-mi></sobre-mi>
    <educacion></educacion>
    <tecnologias></tecnologias>
    <habilidades></habilidades>
</header>

