<div class="main">
    <div class="boxHabilidadesProfesionales">
        <div class="imgProfesionales" data-aos="fade-down-right">
            <img src="assets/ImgProfesionales.png" alt="">
        </div>
        <div class="infoProfesionales">
            <div class="titleBox-Profesionales">
                <h3 class="title">Habilidades Profesionales</h3>
            </div>
            <div class="text">
                <p>Metodologías Agiles (SCRUM) <br><br> 
                    Mobile First <br><br>
                     Responsive Design <br><br>
                      Diseño de Mockups</p>
            </div>
        </div>
    </div>
    <div class="boxHabilidadesPersonales">
        <div class="infoPersonales">
            <div class="titleBox-Personales">
                <h3 class="title">Habilidades Personales</h3>
            </div>
            <div class="text">
                <p>Autodidácta - Apasionado por aprender <br><br> 
                    Comunicación Asertiva <br><br>
                     Resiliencia <br><br>
                      Proactivo</p>
            </div>
        </div>
        <div class="imgPersonales" data-aos="fade-down-left">
            <img src="assets/ImgPersonales.png" alt="">
        </div>
    </div>
    <footer class="boxFooter"></footer>
</div>
