<div class="main">
    <div class="boxTitle-lenguajes">
        <h3 class="title">Lenguajes de programación</h3>
    </div>
    <div class="boxLenguajes">
        <div class="lenguaje" data-aos="zoom-in-up">
            <div class="imageLenguaje">
                <img src="assets/Java.png" alt="">
            </div>
            <div class="infoLenguaje">
                <h4 class="titleLenguaje">Java</h4>
            </div>
        </div>
        <div class="lenguaje" data-aos="zoom-in-up">
            <div class="imageLenguaje">
                <img src="assets/C++.png" alt="">
            </div>
            <div class="infoLenguaje">
                <h4 class="titleLenguaje">C++</h4>
            </div>
        </div>
        <div class="lenguaje" data-aos="zoom-in-up">
            <div class="imageLenguaje">
                <img src="assets/Javascript.png" alt="">
            </div>
            <div class="infoLenguaje">
                <h4 class="titleLenguaje">JavaScript</h4>
            </div>
        </div>
        <div class="lenguaje" data-aos="zoom-in-up">
            <div class="imageLenguaje">
                <img src="assets/Python.png" alt="">
            </div>
            <div class="infoLenguaje">
                <h4 class="titleLenguaje">Python</h4>
            </div>
        </div>
    </div>
    <div class="boxTitle-tecnologias">
        <h3 class="title">Tecnologías y Frameworks</h3>
    </div>
    <div class="boxTecnologias box1" *ngIf="visibleBox1">
        <div class="tecnologia" data-aos="zoom-in-up">
            <div class="imageTecnologia" >
                <img src="assets/Angular.png" alt="">
            </div>
            <div class="infoTecnologia">
                <h4 class="titleTecnologia">Angular</h4>
            </div>
        </div>
        <div class="tecnologia" data-aos="zoom-in-up">
            <div class="imageTecnologia">
                <img src="assets/Flask.png" alt="">
            </div>
            <div class="titleTecnologia-f">
                <h4 class="titleTecnologia">Flask</h4>
            </div>
        </div>
        <div class="tecnologia" data-aos="zoom-in-up">
            <div class="imageTecnologia">
                <img src="assets/GitHub.png" alt="">
            </div>
            <div class="infoTecnologia">
                <h4 class="titleTecnologia">GitHub</h4>
            </div>
        </div>
        <div class="tecnologia" data-aos="zoom-in-up">
            <div class="imageTecnologia">
                <img src="assets/Photoshop.png" alt="">
            </div>
            <div class="infoTecnologia">
                <h4 class="titleTecnologia">Photoshop</h4>
            </div>
        </div>
        <div class="flechaDer" type="button" (click)="showBox()" data-aos="zoom-in-up">
            <img src="assets/Flecha.png" alt="">
        </div>
    </div>
    <div class="boxTecnologias box2" *ngIf="visibleBox2">
        <div class="tecnologia" data-aos="zoom-in-up">
            <div class="imageTecnologia imageSql">
                <img src="assets/MySQL.png" alt="">
            </div>
            <div class="infoTecnologia">
                <h4 class="titleTecnologia">MySql</h4>
            </div>
        </div>
        <div class="tecnologia" data-aos="zoom-in-up">
            <div class="imageTecnologia">
                <img src="assets/PostgreSQL.png" alt="">
            </div>
            <div class="infoTecnologia">
                <h4 class="titleTecnologia">PostgreSQL</h4>
            </div>
        </div>
        <div class="tecnologia" data-aos="zoom-in-up">
            <div class="imageTecnologia">
                <img src="assets/WordPress.png" alt="">
            </div>
            <div class="infoTecnologia">
                <h4 class="titleTecnologia">WordPress</h4>
            </div>
        </div>
        <div class="tecnologia" data-aos="zoom-in-up">
            <div class="imageTecnologia">
                <img src="assets/Boostrap.png" alt="">
            </div>
            <div class="infoTecnologia">
                <h4 class="titleTecnologia">Boostrap</h4>
            </div>
        </div>
        <div class="flechaDer" type="button" (click)="showBox()" data-aos="zoom-in-up">
            <img src="assets/Flecha.png" alt="">
        </div>
    </div>
</div>
