<div class="main">
    <div class="boxTitle">
        <h3 class="title">Educación</h3>
    </div>
    <div class="boxSchool">
        <div class="boxSchool-u">
            <div class="school">
                <div class="schoolInfo">
                    <p class="text"><span class="date">2019-2021</span>
                        <br>Ingeniería de Sistemas
                        <br>Universidad de los llanos</p>
                </div>
                <div class="schoolImage">
                    <img src="../assets/Unillanos.png" alt="">
                </div>
            </div>
            <div class="school">
                <div class="schoolInfo">
                    <p class="text"><span class="date">2021-Actualidad</span>
                        <br>Ingeniería de Sistemas
                        <br>Universidad Distrital</p>

                </div>
                <div class="schoolImage">
                    <img src="../assets/Distrital.png" alt="">
                </div>
            </div>
        </div>
        <div class="boxSchool-d">
            <div class="schoolInfo">
                <p class="text"><span class="date">2021-Actualidad</span>
                    <br>Diplomado desarrollo de software Orientado a Web
                    <br>(MINTIC) Universidad Nacional de Colombia</p>

            </div>
            <div class="schoolImage-d">
                <div class="image-1">
                    <img src="../assets/MinTic.png" alt="">
                </div>
                <div class="image-2">
                    <img src="../assets/Nacional.png" alt="">
                </div>
            </div>
        </div>

        </div>
</div>