    /* Estilos para el formulario */
    .aboutMe{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background-color: #ffcc01;
      width: 300px;
      height: 50px;
  }

   .title{
      text-align: center;
      font-size: 28px;
   }

    form {
        margin: 30px auto;
        padding: 20px;
        width: 100%;
        border-radius: 8px;
        background-color: #ebebeb;;
      }
  
      /* Estilos para los inputs */
      input[type="text"], input[type="email"], textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
      }
  
      /* Estilos para el botón */
      input[type="submit"] {
        width: 100%;
        background-color: #ffcc01;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
  
      /* Estilos para el botón al presionarlo */
      input[type="submit"]:hover {
        background-color: #ecc21a;
      }

      h2{
        text-align: center;
      }

     /*CSS grid*/

     .sectionForm{
        width: 85%;
        margin: 0 auto;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
     }

     .asideForm{
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;
     }
     .Red{
        display: grid;
        gap: 20px;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
     }

     .imgRed img{
        width: 60px;
     }

     a{
        text-decoration: none;
     }

     @media (max-width: 640px){
         .sectionForm{
            grid-template-columns: 1fr;
         }

         .asideForm{
            position: relative;
            top: -50px;
         }

         .form{
            margin: 0 auto;
         }
     }